.banks {
    margin-top: 60PX;
}
.banks_wrapper {
    width: 100%;
    max-width: 1290PX;
    margin: 0 auto;
    h2 {
        text-align: center;
    }
    img {
        width: 100%;
    }
}
@media ( min-width: 320px) and (max-width: 1024px) {
    .banks {
        margin-top: 0PX;
    }
}