.banks {
    margin-top: 60PX;
}
.banks_wrapper {
    width: 100%;
    max-width: 1290PX;
    margin: 0 auto;
    h2 {
        text-align: center;
    }
    img {
        width: 100%;
    }
}
.gallery_mob_banks {
    display: none;
}
@media ( min-width: 320px) and (max-width: 600px) {
    .banks {
        margin-top: 0PX;
    }
    .gallery_banks {
        display: none;
    }
    .gallery_mob_banks {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
}