.btn {
    width: 300PX;
    height: 68PX;
    border-radius: 50px;
    margin-top: 60PX;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24PX;
    line-height: 28PX;
    text-align: center;
    color: #272727;
    background: #fff;
    text-decoration: none;
}

.btn:hover {
    background: #272727;
    color: #fff;
}

.btn:active {
    background: #F4E861;
    color: #272727;
}

.btn_post {
    display: block;
    text-align: center;
    background: #F4E861;
    color: #272727;
    border: #F4E861;
    margin: 0;
    margin-top: 40PX;
    padding: 20PX;
}

.close {
    background: url('/img/close.svg');
    width: 22PX;
    height: 22PX;
    border: none;
}

.btn_center {
    margin: 20PX auto;
}
@media ( min-width: 320px) and (max-width: 1024px) {
    .btn {
        width: 255PX;
    }
}