.carousel_services {
  margin-top: 25PX;
}

.carousel_services_wrapper {
  position: relative;
  width: 100%;
  background: #F4E861;

  h2 {
    padding-top: 80PX;
    text-align: center;
  }
}

.carousel__snapper_wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1290PX;
  min-height: 660PX;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.04);
}

.carousel__snapper_wrapper_left {
  padding: 20px 0 0 70px;

  ul {
    li {
      padding-top: 35px;
    }

    li::before {
      color: #F4E861;
      content: "●";
      padding-right: 10px;
    }
  }
}

.service_back {
  width: 100%;
  height: 68PX;
  background: #F5F5F5;
  border-radius: 40px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24PX;
    line-height: 28PX;
    color: #272727;
    padding: 0 35px;
  }
}

.carousel__snapper_wrapper_right {
  position: relative;
}

.carousel__snapper_price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48PX;
  line-height: 56PX;
  color: #272727;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.carousel__snapper_price_sub {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18PX;
  line-height: 21PX;
  color: #A3A3A3;
  position: absolute;
  right: 10%;
  bottom: 5%;
}

.two_back_wrapper {
  display: flex;
  flex-direction: row;
}

.two_back {
  width: 50%;
  height: 68PX;
  background: #F5F5F5;
  border-radius: 40px;
  margin-top: -30px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24PX;
    line-height: 28PX;
    color: #272727;
    padding: 0 35px;
  }
}

.fix_padd_serv {
  ul {
    li {
      padding-top: 15PX !important;
    }
  }
}


.container_wee {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.container_wee wee-slider {
  margin: auto;
}

wee-slider {
  --wee-slide-align: start;
  --wee-visible-slides-mobile: 1.5;
  --wee-visible-slides-desktop: 1.5;
  --wee-visible-slides: var(--wee-visible-slides-mobile);
  --wee-slide-gap: 10px;
  --wee-navdot-color: rgb(0, 0, 0);
  --wee-transition: ease-in-out 200ms;
  --wee-slide-width: calc(((100% - (var(--wee-slide-gap) * (var(--wee-visible-slides) - 1))) / var(--wee-visible-slides)));
}

@media screen and (min-width: 990px) {
  wee-slider {
    --wee-visible-slides: var(--wee-visible-slides-desktop);
  }
}

wee-slider[data-align="start"] {
  --wee-slide-align: start;
}

wee-slider[data-align="center"] {
  --wee-slide-align: center;
}

wee-slider[data-align="end"] {
  --wee-slide-align: end;
}

wee-slider {
  position: relative;
  width: 100%;
  display: block;
}

wee-slider:not(.loaded) .wee-slider__buttons,
wee-slider:not(.loaded) .wee-slider__navdots {
  display: none;
}

wee-slider.loaded .wee-slider ::-webkit-scrollbar {
  display: none;
}

wee-slider.loaded .wee-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

wee-slider .wee-slider {
  position: relative;
  overflow: hidden;
}

wee-slider .wee-slider__slides {
  display: flex;
  gap: var(--wee-slide-gap);
  padding: 0;
  padding-left: 300PX;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

wee-slider .wee-slider__slide {
  display: block;
  min-width: 1290PX;
  scroll-snap-align: var(--wee-slide-align);
  scroll-margin-left: 0;
  scroll-margin-right: 0;
}

wee-slider .wee-slider__buttons button {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

wee-slider .wee-slider__buttons button:not([disabled]) {
  cursor: pointer;
}

wee-slider[data-buttons-on-hover="true"] .wee-slider__buttons {
  opacity: 0;
  transition: opacity ease-in-out 200ms;
}

@media (hover: hover) {
  wee-slider[data-buttons-on-hover="true"]:hover .wee-slider__buttons {
    opacity: 1;
  }
}

wee-slider .wee-slider__button-next {
  right: 0;
}

wee-slider .wee-slider__navdots {

  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

wee-slider .wee-slider__navdot {
  position: relative;
  display: block;
  padding: 0PX 15PX 15PX 15PX;
}

wee-slider .wee-slider__navdot:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -50%;
  height: 12px;
  width: 12px;
  background: #FFF;
  border-radius: 50%;
}

wee-slider .wee-slider__navdot:hover:after {
  background: #000;
}

wee-slider .wee-slider__navdot:not(.visible) {
  cursor: pointer;
}

/* DEMO CSS */

wee-slider .wee-slider__slide {
  height: auto;
  background: none;
  opacity: 1;
}

wee-slider .slide-content {
  position: relative;
  height: 0;
  padding-bottom: 80%;
}





@media (hover: hover) {
  wee-slider .wee-slider__buttons button:hover {
    scale: 1.1;
  }
}

wee-slider .wee-slider__buttons button:before {
  content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' fill='white'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: auto;
}

.wee-slider__button-prev:before {
  translate: -60% -50%;
  rotate: 90deg;
}

.wee-slider__button-next:before {
  translate: -40% -50%;
  rotate: 270deg;
}
.carousel__snapper_price_wrapper_mob {
  display: none;
}
@media ( min-width: 1025px) and (max-width: 1439px) {
  wee-slider .wee-slider__slide {
    min-width: 1000PX;
    height: auto;
  }
  .btn {
    margin-top: 10PX;
  }
}
@media ( min-width: 320px) and (max-width: 1024px) {

  wee-slider .wee-slider__slide {
    min-width: 295PX;
  }
  .carousel_services {
    margin-top: 40PX;
    background: #F4E861;
  }
  .carousel__snapper_wrapper {
    flex-direction: column-reverse;
    max-height: 546PX;
    justify-content: space-between;
  }
  .carousel__snapper_wrapper_right {
    img {
      width: 100%;
      border-radius: 40px;
    }

  }
  .carousel__snapper_price {
    display: none;
  }
  .service_back {
    background: none;
    border: none;
    height: auto;
    margin-top: 10PX;
  }
  .two_back_wrapper {
    flex-direction: column;
  }
  .two_back {
    background: none;
    border: none;
    height: auto;
    margin-top: 10PX;
    width: 100%;
  }
  .carousel__snapper_wrapper_left {
    padding: 0 10px; ul {
      display: none;
    }
  }
  .carousel__snapper_price_sub {
    display: none;
  }
  .carousel_services_wrapper h2 {
    padding-top: 10PX;
  }
  .service_back span {
    text-align: left;
    padding: 0 10px;
    font-family: Roboto;
font-size: 16PX;
font-weight: 500;
line-height: 19PX;
letter-spacing: 0em;
text-align: left;

  }
  .two_back span {
    text-align: left;
    padding: 0 10px;
    font-family: Roboto;
font-size: 16PX;
font-weight: 500;
line-height: 19PX;
letter-spacing: 0em;
text-align: left;

  }
  .carousel__snapper_wrapper_left {
    h3 {
      text-align: left;
      padding: 0 10px;
    }
  }
  .carousel__snapper_price_wrapper_mob {
    display: block;
    text-align: left;
      padding: 0 10px;
  }
  .carousel__snapper_price_mob {
    font-family: Roboto;
font-size: 24PX;
font-weight: 800;
line-height: 28PX;
letter-spacing: 0em;
text-align: left;
padding-top: 30PX;
  }
  .carousel__snapper_price_sub_mob {
    font-family: Roboto;
font-size: 11px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: #A3A3A3;
  }
  .mob_hid {
    display: none;
  }
}