.footer {
    min-height: 465PX;
    width: 100%;
    background: #000000;
    color: #DBDBDB;
    h4 {
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24PX;
line-height: 28PX;
padding: 0 !important;
margin: 0 !important;
    }
    p,a {
        color: #DBDBDB;
        text-decoration: none;
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18PX;
line-height: 21PX;
    }
}
.footer_wripper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1290PX;
    margin: 0 auto;
    margin-top: 80PX;
    justify-content: space-between;
}
.foo_contacts {
    max-width: 450PX;
    margin: 0;
    p {
        padding: 10PX 0;
    }
}
.foo_nav {
    width: 220PX;
    ul,li {
        padding: 10px 0;
    }

}
.foo_map {
    width: auto;
    height: auto;
}
.foo_icons {
    display: flex;
    flex-direction: row;
    
    img {
        width: 20PX;
        height: 20PX;
        margin-right: 12PX;
    }
}
@media ( min-width: 1025px) and (max-width: 1439px) {
    .footer_wripper {
        padding: 0 10px;
    }
  }
  @media ( min-width: 801px) and (max-width: 1024px) {
    .footer_wripper {
        flex-direction: row;
        margin-top: 10px;
    }
    .foo_contacts p {
        padding: 10PX;
        text-align: left;
        font-family: Roboto;
font-size: 12PX;
font-weight: 400;
line-height: 14PX;
letter-spacing: 0em;
text-align: left;

    }
    .foo_nav {
        margin-top: 40PX;
        padding: 10PX;
    }
    .foo_nav ul, .foo_nav li {
        text-align: left;
        

    }
    .foo_nav li a {
        font-family: Roboto;
        font-size: 12PX;
        font-weight: 400;
        line-height: 17PX;
        letter-spacing: 0em;
        text-align: left;
    }
  }
  @media ( min-width: 320px) and (max-width: 800px) {
    .footer {
        padding-top: 40PX;
        h4 {
            font-family: Roboto;
font-size: 18PX;
font-weight: 500;
line-height: 21PX;
letter-spacing: 0em;
text-align: left;

        }
    }
    .footer_wripper {
        flex-direction: column;
        margin-top: 0;
    }
    .foo_map {
        max-width: 100%;
        margin: 0 auto;
    }
    .foo_contacts p {
        padding: 10PX 0 0 0;
        text-align: left;
        font-family: Roboto;
font-size: 12PX;
font-weight: 400;
line-height: 14PX;
letter-spacing: 0em;
text-align: left;
    }
    .foo_nav {
        margin-top: 40PX;
    }
    .foo_nav ul, .foo_nav li {
        text-align: left;
        

    }
    .foo_nav li a {
        font-family: Roboto;
        font-size: 12PX;
        font-weight: 400;
        line-height: 17PX;
        letter-spacing: 0em;
        text-align: left;
    }
    .foo_icons {
        margin-top: 20px;
    }
}