.footer {
    min-height: 465PX;
    width: 100%;
    background: #000000;
    color: #DBDBDB;
    h4 {
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24PX;
line-height: 28PX;
padding: 0 !important;
margin: 0 !important;
    }
    p,a {
        color: #DBDBDB;
        text-decoration: none;
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18PX;
line-height: 21PX;
    }
}
.footer_wripper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1290PX;
    margin: 0 auto;
    margin-top: 80PX;
    justify-content: space-between;
}
.foo_contacts {
    max-width: 450PX;
    margin: 0;
    p {
        padding: 10PX 0;
    }
}
.foo_nav {
    max-width: 290PX;
    ul,li {
        padding: 10px 0;
    }

}
.foo_map {
    width: auto;
    height: auto;
}
.foo_icons {
    display: flex;
    flex-direction: row;
    
    img {
        width: 20PX;
        height: 20PX;
        margin-right: 12PX;
    }
}