.gallery_header {
    position: relative;
    text-align: center;
    margin-top: 175PX;
    overflow: hidden;
    h2 {
        z-index: 10;
        position: relative;
    }
}

.gallery_smile {
    width: 430PX;
    height: 215PX;
    position: absolute;
    right: 7%;
    top: -45%;
    z-index: 0;
}

.gallery {
    width: 100%;
    overflow: hidden;
}
@media ( min-width: 1024px) and (max-width: 1600px) {
    .gallery_smile {
        right: -8%;
    top: -55%;
    object-fit: cover;
    }
}