.gallery_header {
    position: relative;
    text-align: center;
    margin-top: 175PX;
}

.gallery_smile {
    width: 430PX;
    height: 215PX;
    position: absolute;
    right: 7%;
    top: -45%;
}

.gallery {
    width: 100%;
    overflow: hidden;
}