.header {
    width: 100%;
    z-index: 10;
    
    background: #FFFFFF;
    border-bottom: 2px solid #F7F7F7;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 152PX;
    max-width: 1290PX;
    margin: 0 auto;
    width: 100%;
}

.logo {
    width: 255PX;
    height: 84PX;
    margin-top: 25px;
}

.nav {

    ul {
        display: flex;
        li {
            height: 65PX;
            display: inline-flex;
            align-self: start;
            text-transform: uppercase;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18PX;
            line-height: 21PX;
            margin-right: 48PX;
            padding: 10px;
            a {
                width: auto;
                text-decoration: none;
                color: #272727;
                text-align: center;
                height: 20px;
            }
            a:hover {
                border-bottom: 2px #272727 solid;
            }
        }
    li:active {
        
        background: #F4E861;
    }
    }  
}

.header__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        img {
            margin-right: 12PX;
        }
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18PX;
        line-height: 21PX;
        color: #272727;
    }
}
.header_nav_mob {
  display: none;
}
.sticky {
    position: fixed;
    z-index: 100;
    margin: 0 auto; /* Only centers horizontally not vertically! */
left: 0;
right: 0;
}
@media ( min-width: 1025px) and (max-width: 1439px) {
    .nav ul li {
        margin-right: 10PX;
    }
}
@media ( min-width: 320px) and (max-width: 1024px) {
    .header_nav {
        display: none;
    }
    .logo {
        width: auto;
    }
    .header_nav_mob {
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-height: 84PX;
    }
    .service_img__wrapper {
        z-index: 0;
    }
  .header {
    border: none;
    height: 100PX;
  }

  .header__nav {
    display: block;
    position: absolute;
      top: 75px;
      left: 0;
      background: #fff;
      box-shadow: #ccc;
      width: 100%;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
      transition: all 0.4s ease;
    left:-100%;
  }
  .header__menu {
    display: block;
  }
  .header__nav.open-menu{
      left:0;
  }
  .header__menu li {
    margin: 10px 0px 10px -30px;
    padding-top: 20PX;
      font-size: 14px;
      height: 61PX;
      a {
        color: #272727;
font-size: 18px;
font-family: Roboto;
text-transform: uppercase;
      }
    }
    .header__menu li:hover, .header__menu li:active {
      background: #F4E861;
    }
  .menu-burger__header {
    position: relative;
      width: 30px;
      height: 35px;
      display: block;
      margin-left: 10px;
     }
  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  .menu-burger__header span{
    top: 16px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
    content: '';
  }
  .menu-burger__header:after{
    bottom: 5px;
  }
  .menu-burger__header:before{
    top: 5px;
  }
  .menu-burger__header.open-menu span {
    opacity:0; 
      transition: 0.5s; 
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(45deg);
      top: 16px;
      transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-45deg);
      bottom: 16px;
      transition: 0.4s;
  }
  
  header {
    height: 60px;
  }
  .content-wrapper {
      margin-top: 48px;
  }
  .fixed-pade {
      overflow: hidden;
  }
}