.header {
    width: 100%;
    z-index: 10;
    
    background: #FFFFFF;
    border-bottom: 2px solid #F7F7F7;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 152PX;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    width: 255PX;
    height: 84PX;
    margin-top: 25px;
}

.nav {

    ul {
        display: flex;
        li {
            height: 65PX;
            display: inline-flex;
            align-self: start;
            text-transform: uppercase;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18PX;
            line-height: 21PX;
            margin-right: 48PX;
            padding: 10px;
            a {
                width: auto;
                text-decoration: none;
                color: #272727;
                text-align: center;
                height: 20px;
            }
            a:hover {
                border-bottom: 2px #272727 solid;
            }
        }
    li:active {
        
        background: #F4E861;
    }
    }  
}

.header__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        img {
            margin-right: 12PX;
        }
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18PX;
        line-height: 21PX;
        color: #272727;
    }
}

.sticky {
    position: fixed;
    z-index: 100;
    margin: 0 auto; /* Only centers horizontally not vertically! */
left: 0;
right: 0;
}