/*popup*/
.popup_back {
  position: fixed;
  background: rgba(0, 0, 0, 0.56);
  z-index: 50;
  width: 100%;
  height: 100%;
  
}

.popup {
  position: relative;
  max-width: 900PX;
  max-height: 98%;
  margin: 10PX auto;
  z-index: 999;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  padding: 5PX 40PX;
  overflow-y: scroll;
overflow-x: none;
  h3 {
    padding: 80PX 0 10PX 0;
    margin: 0;
  }

  p {
    font-size: 14PX;
  }

  button {
    margin: 0 auto;
    display: block;
  }
}

.close {
  position: absolute;
  top: 5%;
  right: 5%;
}

#popup_service1 {
  display: none;
}

#popup_service2 {
  display: none;
}

#popup_service3 {
  display: none;
}

#popup_service4 {
  display: none;
}

#popup_service5 {
  display: none;
}

#popup_service6 {
  display: none;
}

#popup_service7 {
  display: none;
}

.show {
  display: block !important;
}

.hidden {
  display: none;
}
@media ( min-width: 320px) and (max-width: 1024px) {
  .popup {
    width: 90%;
  }
}