.service_img_back {
    position: absolute;
    width: 1243.09PX;
    height: 1243.09PX;
    left: -800PX;
    top: -420PX;

    background: #F4E861;
    transform: rotate(45deg);
    z-index: 0;
}

.service_img__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1290PX;
    margin: 0 auto;
    margin-top: 80PX;
}

.service_img_block {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-content: center;
    img {
        width: 100%;
        max-width: 410PX;
        max-height: 427PX;
    }

    p {
        margin-top: 10PX;
        text-align: center;
    }
}

@media ( min-width: 1025px) and (max-width: 1439px) {
    .service_img__wrapper {
        max-width: 1024PX;
    }
}
@media ( min-width: 320px) and (max-width: 1024px) {
    .service_img_back {
        display: none;
    }
    .service_img__wrapper {
        flex-direction: column;
        margin-top: 0;
    }
    .service_img_block {
        width: 100%;
         img {
            width: 100%;
            min-width: 335px;
max-height: 200px;
object-fit: cover;
         }
    }
}