.swiper_reviews {
margin-top: 110PX;
    h2 {
        text-align: center;
    }
}
li {
  list-style: none;
}


.hidden {
  display: none;
}

.masterBox {
  position:relative;
  width: 100%;
  margin: 0 auto;
}

.containerBox {
  overflow:hidden;
  width: 100%;
  max-width: 1290PX;
  margin: 0 auto;
}

.listBox li{
  width:32%; /*Change this depending the number of "li" that you want to have per page. For example; if you want 4 "li" per page the width will be 25% because you have to complete the 100% (25*4 = 100)*/
  height: auto;
  float:left;
  margin: 0 0.4%;  
}

.listBox {
  width: 495%; /*Change this depending of total number of "li" that you have and depending the number of "li" that you want to have per page. For example; if you have a total of 12 "li" and each one has a 25% you will need a width of 300% (25*12 = 300)*/
  display: flex;
}

.content {
    width: 100%;
    max-width: 410PX;
    min-height: 550PX;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
border-radius: 40px;
overflow: hidden;
}

.content img {
  width: 100%;
  
}


.arrow{
  position:absolute;
  font-size:4rem;
  color: #111;
  cursor:pointer;
  top: 45%;

}

.arrow.back{
  left: 10%;
  transform: scale(-1, 1);  
  z-index: 10;
}

.arrow.forward{
  width: 8rem;
  right: 4%;
}
@media ( min-width: 1025px) and (max-width: 1600px) {
  .arrow.back{
    left: 6%;
  }
  
  .arrow.forward{
    right: 0;
}
}
@media ( min-width: 320px) and (max-width: 1024px) {
  .swiper_reviews {
    margin-top: 30PX;
}
.containerBox {
  scroll-snap-type: x mandatory;
  overflow: auto;
    scroll-behavior: smooth;
}
.containerBox::-webkit-scrollbar {
  width: 0;
} 
.listBox li{
  width: 100%; /*Change this depending the number of "li" that you want to have per page. For example; if you want 4 "li" per page the width will be 25% because you have to complete the 100% (25*4 = 100)*/
  height: auto;
  float:left;
  padding: 10PX;
}

.listBox {
  width: 1500%; /*Change this depending of total number of "li" that you have and depending the number of "li" that you want to have per page. For example; if you have a total of 12 "li" and each one has a 25% you will need a width of 300% (25*12 = 300)*/
  display: flex;
  padding-left: 0;
scroll-snap-align: start;
scroll-snap-stop:always;
}
.content {
  min-height: 440PX;
  margin: 0 auto;
  
  img {
    max-height: 420PX;
    object-fit: scale-down;
  }
}
.arrow {
  display: none;
}
}