.youtube {
    max-width: 1290PX;
    margin: 0 auto;
    margin-top: 70PX;
    h2 {
        text-align: center;
    }
}
.youtube_wrapper {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    iframe {
        border-radius: 40px;
        width: 100%;
                max-width: 1290PX;
                height: 80vh;
                max-height: 720PX;
    }
    }

@media ( min-width: 320px) and (max-width: 700px) {
    
.youtube {
    margin-top: 30PX;
}
.youtube_wrapper {
    width: 90vw;
    height: 35vh;
    margin: 0 auto;
    iframe {
        border-radius: 40px;
        width: 100%;
                max-width: 1290PX;
                height: 35vh;
                max-height: 720PX;
    }
    }
}