.youtube {
    max-width: 1290PX;
    margin: 0 auto;
    margin-top: 70PX;
    h2 {
        text-align: center;
    }
}
.youtube_wrapper {
    iframe {
        border-radius: 40px;
        width: 1280PX;
        height: 600PX;
    }
}
@media ( min-width: 1025px) and (max-width: 1439px) {
    .youtube_wrapper {
        iframe {
            width: 1024PX;
            height: 550PX;
        }
}
}
@media ( min-width: 320px) and (max-width: 1024px) {
    .youtube_wrapper {
        iframe {
            width: 350PX;
            height: 250PX;
        }
}
}