<footer class="footer">
  <div class="container">
    <div class="footer_wripper">
      <div class="foo_contacts">
        <h4>КОНТАКТЫ:</h4>
        <p>Ипотечное агентство ПРОИПОТЕКА
          Мы поможем осуществить Вашу мечту!</p>
        <p>ИП Вельмицкий С.А. ОГРНИП 319774600634679 {{ vars.address }}</p>
        <p>Телефон:{{ vars.phone }}</p>
        <div class="foo_icons">
          <a href="https://www.instagram.com/proipoteka.ru/"><img src="img\foo\inst.svg" alt=""></a>
          <a href="https://vk.com/proipoteka"><img src="img\foo\vk.svg" alt=""></a>
        </div>
      </div>
      <div class="foo_nav">
        <h4>Навигация</h4>
        <ul>

          <li><a href="#service">Цены</a></li>
          <li><a href="#partners">Партнеры</a></li>
          <li><a href="#" download="../src/contract.docx"> Договор</a></li>
        </ul>

      </div>
      <div class="foo_map">
        <div style="position:relative;overflow:hidden;border-radius: 20px;"><a
            href="https://yandex.ru/maps/org/prazdnik/1062349409/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:relative;top:0px;"></a><a
            href="https://yandex.ru/maps/213/moscow/category/shopping_mall/184108083/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:relative;top:14px;"></a><iframe
            src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.444791%2C55.826665&mode=search&oid=1062349409&ol=biz&z=17.07"
            width="410" height="300" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
      </div>
    </div>

  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

<script>
  Fancybox.bind("[data-fancybox]", {
    // Your custom options
  });
</script>
<script>
  $(window).on('load', function () {

    // Carousel Slider reviews//

    let elemWidth = (100 * parseFloat($('.listBox li').css('width')) / parseFloat($('.containerBox').parent().css('width'))); // Width of each element
    let elemPerPage = parseInt((100 / elemWidth)); // Elements per page 

    let marginLeft = 0;
    let count = 0;

    let totalElem = $('.listBox li').length; // Number of total elements
    let numSlides = Math.ceil(totalElem / elemPerPage); // Number of slides

    if (totalElem > elemPerPage) {

      $('.arrow.back').on('click', function () { // Go back

        if (marginLeft < 0) {

          count--;
          marginLeft = marginLeft + 100;

          $('ul.listBox').animate({
            marginLeft: marginLeft + "%"
          }, 1500);

        }

      });

      $('.arrow.forward').on('click', function () { // Go forward

        count++;

        if (count < numSlides) {

          if (marginLeft <= 0) {

            marginLeft = marginLeft - 100;

            $('ul.listBox').animate({
              marginLeft: marginLeft + "%"
            }, 1500);

          }

        } else {

          count--;

        }

      });

    }

  })

</script>
<script>
  $(window).on('load', function () {

    // Carousel Slider cert//

    let elemWidth = (100 * parseFloat($('.listBoxCert li').css('width')) / parseFloat($('.containerBoxCert').parent().css('width'))); // Width of each element
    let elemPerPage = parseInt((100 / elemWidth)); // Elements per page 

    let marginLeft = 0;
    let count = 0;

    let totalElem = $('.listBoxCert li').length; // Number of total elements
    let numSlides = Math.ceil(totalElem / elemPerPage); // Number of slides

    if (totalElem > elemPerPage) {

      $('.arrow.backCert').on('click', function () { // Go back

        if (marginLeft < 0) {

          count--;
          marginLeft = marginLeft + 100;

          $('ul.listBoxCert').animate({
            marginLeft: marginLeft + "%"
          }, 1500);

        }

      });

      $('.arrow.forwardCert').on('click', function () { // Go forward

        count++;

        if (count < numSlides) {

          if (marginLeft <= 0) {

            marginLeft = marginLeft - 100;

            $('ul.listBoxCert').animate({
              marginLeft: marginLeft + "%"
            }, 1500);

          }

        } else {

          count--;

        }

      });

    }

  })

</script>
<!--stycky header--
<script>
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      $('.header').addClass('sticky')
    } else {
      $('.header').removeClass('sticky')
    }
  });
</script>-->
<!-- custom select-->
<script>
  class ItcCustomSelect {
  static EL = 'itc-select';
  static EL_SHOW = 'itc-select_show';
  static EL_OPTION = 'itc-select__option';
  static EL_OPTION_SELECTED = 'itc-select__option_selected';
  static DATA = '[data-select]';
  static DATA_TOGGLE = '[data-select="toggle"]';

  static template(params) {
    const { name, options, targetValue } = params;
    const items = [];
    let selectedIndex = -1;
    let selectedValue = '';
    let selectedContent = 'Выберите из списка';
    options.forEach((option, index) => {
      let selectedClass = '';
      if (option[0] === targetValue) {
        selectedClass = ` ${this.EL_OPTION_SELECTED}`;
        selectedIndex = index;
        selectedValue = option[0];
        selectedContent = option[1];
      }
      items.push(`<li class="itc-select__option${selectedClass}" data-select="option"
        data-value="${option[0]}" data-index="${index}">${option[1]}</li>`);
    });
    return `<button type="button" class="itc-select__toggle" name="${name}"
      value="${selectedValue}" data-select="toggle" data-index="${selectedIndex}">
      ${selectedContent}</button><div class="itc-select__dropdown">
      <ul class="itc-select__options">${items.join('')}</ul></div>`;
  }

  static hideOpenSelect() {
    document.addEventListener('click', (e) => {
      if (!e.target.closest(`.${this.EL}`)) {
        const elsActive = document.querySelectorAll(`.${this.EL_SHOW}`);
        elsActive.forEach((el) => {
          el.classList.remove(this.EL_SHOW);
        });
      }
    });
  }
  static create(target, params) {
    this._el = typeof target === 'string' ? document.querySelector(target) : target;
    if (this._el) {
      return new this(target, params);
    }
    return null;
  }
  constructor(target, params) {
    this._el = typeof target === 'string' ? document.querySelector(target) : target;
    this._params = params || {};
    this._onClickFn = this._onClick.bind(this);
    if (this._params.options) {
      this._el.innerHTML = this.constructor.template(this._params);
      this._el.classList.add(this.constructor.EL);
    }
    this._elToggle = this._el.querySelector(this.constructor.DATA_TOGGLE);
    this._el.addEventListener('click', this._onClickFn);
  }

  _onClick(e) {
    const { target } = e;
    const type = target.closest(this.constructor.DATA).dataset.select;
    if (type === 'toggle') {
      this.toggle();
    } else if (type === 'option') {
      this._changeValue(target);
    }
  }

  _updateOption(el) {
    const elOption = el.closest(`.${this.constructor.EL_OPTION}`);
    const elOptionSel = this._el.querySelector(`.${this.constructor.EL_OPTION_SELECTED}`);
    if (elOptionSel) {
      elOptionSel.classList.remove(this.constructor.EL_OPTION_SELECTED);
    }
    elOption.classList.add(this.constructor.EL_OPTION_SELECTED);
    this._elToggle.textContent = elOption.textContent;
    this._elToggle.value = elOption.dataset.value;
    this._elToggle.dataset.index = elOption.dataset.index;
    this._el.dispatchEvent(new CustomEvent('itc.select.change'));
    this._params.onSelected ? this._params.onSelected(this, elOption) : null;
    return elOption.dataset.value;
  }

  _reset() {
    const selected = this._el.querySelector(`.${this.constructor.EL_OPTION_SELECTED}`);
    if (selected) {
      selected.classList.remove(this.constructor.EL_OPTION_SELECTED);
    }
    this._elToggle.textContent = 'Выберите из списка';
    this._elToggle.value = '';
    this._elToggle.dataset.index = '-1';
    this._el.dispatchEvent(new CustomEvent('itc.select.change'));
    this._params.onSelected ? this._params.onSelected(this, null) : null;
    return '';
  }

  _changeValue(el) {
    if (el.classList.contains(this.constructor.EL_OPTION_SELECTED)) {
      return;
    }
    this._updateOption(el);
    this.hide();
  }

  show() {
    document.querySelectorAll(this.constructor.EL_SHOW)
      .forEach((el) => {
        el.classList.remove(this.constructor.EL_SHOW);
      });
    this._el.classList.add(`${this.constructor.EL_SHOW}`);
  }

  hide() {
    this._el.classList.remove(this.constructor.EL_SHOW);
  }

  toggle() {
    this._el.classList.contains(this.constructor.EL_SHOW) ? this.hide() : this.show();
  }

  dispose() {
    this._el.removeEventListener('click', this._onClickFn);
  }

  get value() {
    return this._elToggle.value;
  }

  set value(value) {
    let isExists = false;
    this._el.querySelectorAll('.select__option')
      .forEach((option) => {
        if (option.dataset.value === value) {
          isExists = true;
          this._updateOption(option);
        }
      });
    if (!isExists) {
      this._reset();
    }
  }

  get selectedIndex() {
    return this._elToggle.dataset.index;
  }

  set selectedIndex(index) {
    const option = this._el.querySelector(`.select__option[data-index="${index}"]`);
    if (option) {
      this._updateOption(option);
    }
    this._reset();
  }
}

ItcCustomSelect.hideOpenSelect();
</script>
<script>
  // select-1 – id элемента
const select1 = new ItcCustomSelect('#select-1');
</script>
<script>

  $('.mask-phone').mask('+7 (999) 999-99-99');
  
  </script>

<script>
  $(window).click(function (close) {
    document.getElementById('close').onclick = function () {
      document.getElementById('popup_service1').classList.add('hidden');
    }
  });
</script>

<script>
  class WeeSlider extends HTMLElement {
    constructor() {
      super();
      this.loopSlides = this.dataset.loop === 'true';
      this.slides = [...this.querySelectorAll('.wee-slider__slide')];
      this.navDots = [...this.querySelectorAll('.wee-slider__navdot')];
      this.buttons = [...this.querySelectorAll('.wee-slider__buttons button')];
      this.handleButtonClick = this.handleButtonClick.bind(this);
      this.buttons.forEach(button => button.addEventListener('click', this.handleButtonClick));
      this.navDots.forEach((navDot, index) => navDot.addEventListener('click', () => {
        this.handleSlideChange(index);
      }));

      const observer = new IntersectionObserver(entries => {
        entries.forEach(({ target, isIntersecting }) => {
          const slideIndex = this.slides.indexOf(target);
          target.classList.toggle('visible', isIntersecting);
          this.navDots[slideIndex].classList.toggle('visible', isIntersecting);
          if (!this.loopSlides) this.handleSlideButtonActive();
        });
      }, { threshold: 0.9 });
      this.slides.forEach(slide => observer.observe(slide));
      this.classList.add('loaded');
    }

    handleButtonClick(event) {
      const { classList } = event.currentTarget;
      const isNext = classList.contains('wee-slider__button-next');
      const modifier = isNext ? 1 : -1;
      const condition = slide => slide.classList.contains('visible');
      let index = isNext ? this.slides.findLastIndex(condition) : this.slides.findIndex(condition);
      index = index !== -1 ? index + modifier : (isNext ? 0 : this.slides.length - 1);
      if (this.loopSlides) index = (index + this.slides.length) % this.slides.length;
      this.handleSlideChange(index);
    }

    handleSlideChange(index) {
      this.slides.forEach((slide, i) => {
        if (i === index) slide.scrollIntoView();
      });
      this.navDots.forEach((navDot, i) => {
        navDot.classList.toggle('active', i === index);
      });
    }

    handleSlideButtonActive() {
      this.buttons.forEach(button => {
        const isNext = button.classList.contains('wee-slider__button-next');
        const slide = isNext ? this.slides[this.slides.length - 1] : this.slides[0]
        button.disabled = slide.classList.contains('visible');
      });
    }
  }

  customElements.define('wee-slider', WeeSlider);

</script>
<script>
  router.post('/', function(req, res) {
    // do something w/ req.body or req.files 
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
      $("#wdh_form").submit(function(e) {
    e.preventDefault() //устанавливаем событие отправки для формы с id=form
              var form_data = $(this).serialize(); //собераем все данные из формы
              $.ajax({
              type: 'POST', //Метод отправки
              url: 'src/php/send.php', //путь до php фаила отправителя
              data: form_data,
                      success: function(data){ // сoбытиe пoслe удaчнoгo oбрaщeния к сeрвeру и пoлучeния oтвeтa
                      alert('все ок'); // пoкaжeм eё тeкст
                      }
              });
      });
  });    
</script>
<script>
$(document).ready(function() {
	$('.menu-burger__header').click(function(){
        $('.menu-burger__header').toggleClass('open-menu');
        $('.header__nav').toggleClass('open-menu');
        $('body').toggleClass('fixed-page');
	});
});

</script>
<script>
  $(".serv1").on('click', function() {
  $(".custom-model-main1").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main1").removeClass('model-open');
});
</script>
<script>
  $(".serv2").on('click', function() {
  $(".custom-model-main2").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main2").removeClass('model-open');
});
</script>
<script>
  $(".serv3").on('click', function() {
  $(".custom-model-main3").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main3").removeClass('model-open');
});
</script>
<script>
  $(".serv4").on('click', function() {
  $(".custom-model-main4").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main4").removeClass('model-open');
});
</script>
<script>
  $(".serv5").on('click', function() {
  $(".custom-model-main5").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main5").removeClass('model-open');
});
</script>
<script>
  $(".serv6").on('click', function() {
  $(".custom-model-main6").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main6").removeClass('model-open');
});
</script>
<script>
  $(".serv7").on('click', function() {
  $(".custom-model-main7").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function(){
  $(".custom-model-main7").removeClass('model-open');
});
</script>