<header id="header" class="header">
    <div class="container">
        <div class="header_nav">

        
        <a href="/" class="logo">
            <img src="img/logo.png" alt="" class="logo__img">
        </a>
        <div class="nav">
            <ul>
                <li><a href="#service">Цены</a></li>
                <li><a href="#service">услуги</a></li>
                <li><a href="#partners">ПАРТНЕРЫ</a></li>
                <li><a href="#reviews">отзывы</a></li>
            </ul>
        </div>
        <div class="header__contacts">
            <a href="https://www.youtube.com/@proipoteka"><img src="img/youtube.svg" alt=""></a>
            <a href="https://www.instagram.com/proipoteka.ru/"><img src="img/insta.svg" alt=""></a>
            <a href="https://vk.com/proipoteka"><img src="img/vk.svg" alt=""></a>
            <a href="tel:{{ vars.phone | toTel }}" class="phone">{{ vars.phone }}</a> <br>
        </div>
    </div>
    </div>
</header>