<header id="header" class="header">
    <div class="container">
        <div class="header_nav">
        <a href="/" class="logo">
            <img src="img/logo.png" alt="" class="logo__img">
        </a>
        <div class="nav">
            <ul>
                <li><a href="#service">Цены</a></li>
                <li><a href="#service">услуги</a></li>
                <li><a href="#partners">ПАРТНЕРЫ</a></li>
                <li><a href="#reviews">отзывы</a></li>
            </ul>
        </div>
        <div class="header__contacts">
            <a href="https://www.youtube.com/@proipoteka"><img src="img/youtube.svg" alt=""></a>
            <a href="https://www.instagram.com/proipoteka.ru/"><img src="img/insta.svg" alt=""></a>
            <a href="https://vk.com/proipoteka"><img src="img/vk.svg" alt=""></a>
            <a href="tel:{{ vars.phone | toTel }}" class="phone">{{ vars.phone }}</a> <br>
        </div>
    </div>
    <div class="header_nav_mob">
        <a href="/" class="logo">
            <img src="img/logo_mob.png" alt="" class="logo__img">
        </a>
        <nav class="main-nav hamburger-menu">
            <!--   элемент, по которому юзер будет кликать  -->
              <input id="menu__toggle" type="checkbox" />
              <label class="menu__btn" for="menu__toggle">
                <span></span>
              </label>
              
            <!--   /* наше меню */ -->
              <ul class="menu__box">
                <li><a class="menu__item" href="#service">Цены</a></li>
                <li><a class="menu__item" href="#service">услуги</a></li>
                <li><a class="menu__item" href="#partners">ПАРТНЕРЫ</a></li>
                <li><a class="menu__item" href="#reviews">отзывы</a></li>
              </ul>
            </nav>
    </div>
    </div>
</header>